tr[class="read"] 
{
    background-image: linear-gradient(green, lightgreen);
}

tr[class="read"] span[class="status"]
{
    border:darkgreen;
    background-image: linear-gradient(white, green);
}

tr[class="to-read"] 
{
    background-image: linear-gradient(red, pink);
}

tr[class="to-read"] span[class="status"]
{
    border:darkred;
    background-image: linear-gradient(white, red);
}

tr[class="in-progress"] 
{
    background-image: linear-gradient(yellow, lightyellow);  
}

tr[class="in-progress"] span[class="status"]
{
    border:darkgoldenrod;
    background-image: linear-gradient(white, goldenrod);
}

span{
    display: inline-block;
}

td{
    margin: 2px;
    padding: 5px;
}

span[class="status"], span[class^="rate"]{
    height:20px;
    width:80px;
    padding:2px;
    margin: 2px;
    text-align: center;
}


span[class^="rate"] > span
{
    border:solid black 1px;
    border-radius:8px;
    margin:2px;
    height:14px;
    width:14px;
    background-color:white;
}   

span[class~="one"] span:first-child 
{
    background-image: linear-gradient(purple, blueviolet);
}

span[class~="two"] span:nth-child(-n + 2)
{
    background-image: linear-gradient(purple, blueviolet);
}

span[class~="three"] span
{
    background-image: linear-gradient(purple, blueviolet);
}
